
body{
    padding: 0%;
    margin: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img.headname {
    width: 30%;
}

.navbar{
    font-size: 15px;
    padding: 2%;
    text-decoration: none;
    color: white;
    white-space: nowrap;
    /* margin-right: 40px; */
    float: right;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: inherit;
    justify-content: center;
    padding: 10px;
    background-color: #02001d;
}
.logo-div{
  display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}
.menu-div{
  display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 50%;
    justify-content: flex-end;
    padding: 0px 25px;
}
#search-button{
  width: 50%;
    border: none;
    height: 30px;
    font-size: 16px;
    background: #f4f2f2;
    color: #02001d;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}
.nav-button {
  color: white;
  margin: 0px 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 6px 18px;
  border-radius: 4px;
  background-color: #FC9905;
  text-decoration: none;
  font-size: 15px;
  }
  .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 0px 0px 0px 38px;
  }
  
  .search__input {
    font-family: inherit;
    font-size: 15px;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 5px 1rem;
    border-radius: 4px 0 0 4px;
    width: 12em;
    transition: all ease-in-out .5s;
  }
  
  .search__input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  .search__input:focus {
    outline: none;
    background-color: #f0eeee;
  }
  
  .search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
  }
  
  .search__input:focus + .search__button {
    background-color: #f0eeee;
  }
  
  .search__button {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
  }
  
  .search__button:hover {
    cursor: pointer;
  }
  
  .search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
  }
.loginpage-bg{
  height: 100vh;
  width: 100%;
  background-color: #0000008c;
  position: fixed;
  top: 0;
  display: grid;
  align-content: center;
  justify-items: center;
  display: none;
  
}
.login-page{
  background-color: white;
  height: 60vh;
  width: 60%;
  display: flex;
}
.loginpage-bg.active{
  display: grid;
}
.left-ad1{
  background-color: #02001d;
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.right-ad1{
  height: 100%;
  width: 100%;
  display: flex;
  /* padding: 50px; */
  flex-direction: column;
}
.top-close{
  width: 100%;
  height: 15%;
  display: grid;
  justify-content: end;
}
img.close {
  width: 16px;
  padding: 14px;
  cursor: pointer;
}
.comp-logo{
  width: 13em;
}
.login-txt{
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  padding-left: 20px;
}
.middle-sec{
  padding: 20px;
  color: white;
  font-size: 15px;
  margin: 0;
  line-height: 35px;
}
.bot-login{
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}
form#login-form-main{
  width: 80%;
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-top: 4em;
}
label#label1,label#label2{
  font-size: 12px;
  font-weight: 400;
  color: grey;
  padding: 10px 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input[type="text"]#email-or-phone,input[type="password"]#password{
  border: 0;
  border-bottom: 1px solid grey;
  height: 1.5em;
  outline: none;
}

p#t-and-c{
  color: grey;
  font-size: 12px;
  font-style: oblique;
  padding: 10px 0px;
}
span#t-o-u,span#p-p{
  text-decoration: none;
  color: #0057ff;
  cursor: pointer;
}
button#login-btn{
  border-radius: 4px;
    border: 0;
    font-size: 13px;
    padding: 7px;
    background-color: #FC9905;
    color: white;
    cursor: pointer;
}
a#sign-up{
  text-decoration: none;
  color: #0057ff;
  font-size: 14px;
  font-weight: 500;
}

    .dropdown {
      position: relative;
      display: inline-block;
      white-space: nowrap;
      padding-right: 57px;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: white;
      min-width: 120px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      margin-top: 0.3em;
      padding: 4px;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown-item {
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      color: #333;
    }

    .dropdown-item:hover {
      background-color: #02001d;
      color: white;
    }

#dropdown-more{
  color: white;
  padding: 5px;
  cursor: pointer;
  font-size: 15px;
}
