
body{
    padding: 0%;
    margin: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.headname img{
    width: 300px;
    margin-top: 10px;
}

.navbar{
    font-size: 17px;
    padding: 13px;
    text-decoration: none;
    color: white;
    /* margin-right: 40px; */
    float: right;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navigation{
    display: flex;
    width: 100%;
    background-color: #02001d;
    height: 100px;
    justify-content: space-between;
    align-items: flex-start;
}
.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.nav-button {
    font-size: 13px;
    color: white;
    margin-right: 35px;
    margin-left: 13px;

    /* float: right; */
    margin-top: 34px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 7px 24px;
    border-radius: 4px;
    background-color: #FC9905;
    text-decoration: none;
  }
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
  }

  form#searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
  }
 
  input[type="text"].inps {
    border: none;
    padding: 10px;
    flex-grow: 1;
    height: 11px;
    color: rgb(114, 114, 114);
    font-style: italic;
    background-color: #e7e7e7;

  }
  .inps::placeholder {
    color: rgb(114, 114, 114);
  }
  button[type="submit"]#search1 {
    background-color: #FC9905;
    border: none;
    color: #fff;
    padding: 8px 20px;
    cursor: pointer;
  }
  
  /* Remove the border of the input field when it's clicked */
.inps:focus {
    outline: none;
  }
.loginpage-bg{
  height: 100vh;
  width: 100%;
  background-color: #0000008c;
  position: fixed;
  top: 0;
  display: grid;
  align-content: center;
  justify-items: center;
  display: none;
  
}
.login-page{
  background-color: white;
  height: 72vh;
  width: 50%;
  display: flex;
}
.loginpage-bg.active{
  display: grid;
}
.left-ad1{
  background-color: #02001d;
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.right-ad1{
  height: 100%;
  width: 100%;
  display: flex;
  /* padding: 50px; */
  flex-direction: column;
}
.top-close{
  width: 100%;
  height: 15%;
  display: grid;
  justify-content: end;
}
img.close {
  width: 16px;
  padding: 14px;
  cursor: pointer;
}
.comp-logo{
  width: 18em;
}
.login-txt{
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  padding-left: 20px;
}
.middle-sec{
  padding: 20px;
  color: white;
  font-size: 20px;
  margin: 0;
  line-height: 35px;
}
.bot-login{
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}
form#login-form-main{
  width: 80%;
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-top: 4em;
}
label#label1{
  font-size: 12px;
  font-weight: 400;
  color: grey;
  padding: 10px 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input[type="text"]#email-or-phone{
  border: 0;
  border-bottom: 1px solid grey;
  height: 1.5em;
  outline: none;
}

p#t-and-c{
  color: grey;
  font-size: 12px;
  font-style: oblique;
  padding: 10px 0px;
}
span#t-o-u,span#p-p{
  text-decoration: none;
  color: #0057ff;
  cursor: pointer;
}
button#login-btn{
  border-radius: 4px;
    border: 0;
    font-size: 13px;
    padding: 7px;
    background-color: #FC9905;
    color: white;
    cursor: pointer;
}
a#sign-up{
  text-decoration: none;
  color: #0057ff;
  font-size: 14px;
  font-weight: 500;
}