h3{
    text-align: center;
    font-size:40px;
    font-family: 'Roboto Condensed', sans-serif;
}

.headname1 img{
    width: 300px;
    margin-top: 5px;
}

.navbar1{
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    color: white;
    margin-top: 30px;
    
}

.line {
    border-left: 2px solid rgb(0 0 0 / 11%); /* 1px solid black border on the left */
    height: 50%; /* sets the height of the div to 100% of the parent element */
    position: absolute; /* positions the div absolutely */
    left: 50%; /* positions the div in the center */
    margin-left: -1px; /* corrects the position by offsetting the border width */
    top: 30%;
}

.content {
    width: 50%; /* sets the width of the content to 50% */
    float: left; /* floats the content to the left */
}

.content, .sm1, .sm2{
    text-decoration: none;
    
    margin-top: 140px;
    font-size: 20px;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.sm1{
    display:unset;
    margin-left: 300px;
    width: 200px;
    height: 30px;
    padding: 2%;
    background-color: #FC9905;
    color: whitesmoke;

}
.sm2{
    display:unset;
    margin-left: 300px;
    width: 200px;
    height: 30px;
    padding: 2%;
    background-color: #FC9905;
    color: whitesmoke;
}

p{
    text-align: center;
    font-style: italic;
    color: #747373;
    font-weight: 100;
    line-height: 2;
    margin-top: 50px;
}

